li {
    list-style: none;
}

.main-folderbox {
    background-color: #0b1b32;
    color: #fff;
    font-size: large;
    grid-area: sidebar;
    height: 100vh;
    overflow: auto;
    line-height: 2rem;
    height: 100%;
    padding: 10px;
    /* width: 100% */
  }

 .conTainer {
    background-color: #102541;
    grid-area: main;
    height: calc(100vh - 120px);
    overflow: auto;
    color:whitesmoke
  }
  
  .notelink {
      color: whitesmoke;
      text-decoration: none;
  }
  .NotePageMain {
    background-color: #efefef;
    height: 100%;
    padding: 10px;
    width: 100%;
  }
  
  .NotePageMain__content {
    color: #3a3939;
    max-width: 380px;
  }

  /* .main-notebox > ul {
    display: flex;
    flex-wrap: wrap;
  } */
