.NoteSidebar {
    color: #b5b3b3;
    font-family: var(--custom-font);
    font-size: 30px;
    height: 25vh;
    margin: 0;
    text-orientation: upright;
    width: 55px;
    writing-mode: vertical-lr;
    background-color: #0b1b32 ;
}
/* {width: 75px;
writing-mode: vertical-lr;} */

.NoteSidebar_backbutton {
  
        margin: 45px 20px 25px auto
     
      /* .NotePageNav__back-button:hover {
        background-color: #FFB72F;
      } */
}
.note {
   
        background-color: #efefef;
        height: 100%;
        padding: 10px;
        width: 100%;
  
 
        color: #3a3939;
        max-width: 380px;

}